path.line-path {
  fill: none;
  stroke: #000;
  stroke-width: 1;
}
.cursor-line {
  stroke: $opennem-link-color;
  stroke-width: 1px;
}
.cursor-line-rect {
  fill: $opennem-link-color;
}
.tooltip-rect {
  fill: white;
  stroke-width: 1px;
  stroke: #ddd;
}
.tooltip-text {
  fill: #333;
  font-size: 12px;
}
.hover-layer {
  fill: transparent;
}
.stacked-area-path {
  // where #clip is being defined
  // clip-path: url(#clip);
}
.line-path {
  // where #clip is being defined
  // clip-path: url(#clip);
}

// axis
.domain {
  stroke: none;
}
.x-axis .tick text {
  color: #666;
  text-anchor: start;
}
.x-axis .tick line {
  stroke-dasharray: 3.8;
  stroke: rgba(0, 0, 0, 0.2);
}
.y-axis .tick:not(:first-of-type) line {
  stroke-dasharray: 3.8;
  stroke: rgba(0, 0, 0, 0.2);
}
.y-axis-tick .tick text {
  color: #888;
  text-anchor: start;
}
.x-axis-tick .tick line {
  stroke: none;
}
.y-axis-tick .tick:not(:first-of-type) line {
  stroke: none;
}

// disable text selection in axis tick marks
.tick {
  text {
    font-family: $family-primary;
    cursor: default;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &::selection {
      background: none;
    }
  }
}

// brush styles
.brush {
  fill: #999;
  fill-opacity: 0.2;
  stroke: #000;

  .selection {
    fill: $opennem-link-color;
    fill-opacity: 0.3;
    stroke-width: 0;
  }
}