@import 'app/mixins';
// @import 'app/reset';
@import 'app/breakpoints';
@import 'app/colours';
@import 'app/typography';
@import 'app/forms';

// @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif:300,400,600');

$font-stack: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;
// $font-stack: 'IBM Plex Serif', Georgia, 'Times New Roman', Times, serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: var(--color-bg, white);
  padding: 0;
  margin: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}