@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');

// $font-stack: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;
$font-stack: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Helvetica', Arial, sans-serif;

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #ece9e6;
$opennem-primary: #e34a33;

// Update Bulma's global variables
// $family-serif: 'IBM Plex Serif', Georgia, 'Times New Roman', Times, serif;
// $header-font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
$family-serif: $font-stack;
$header-font-family: $font-stack;
$family-primary: $family-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $opennem-primary;
$link: $opennem-primary;
$widescreen-enabled: false;
$fullhd-enabled: false;
$body-size: 12px;

// Update some of Bulma's component variables
// $body-background-color: $beige-lighter;
$body-background-color: #F7F7F7;
$control-border-width: 1px;
$input-shadow: none;

$border-style: 1px dotted #cdcdcd;

// Import only what you need from Bulma
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/_all.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/components/panel.sass";
@import "../../node_modules/bulma/sass/components/message.sass";
@import "../../node_modules/bulma/sass/layout/hero.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";

.page-enter-active {
  transition: opacity .2s;
}
.page-leave-active {
  transition: opacity .1s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}

.header-buttons {  
  .button {
    border: none;
    border-radius: 0;
    background: transparent;
    border-right: $border-style;
    margin: 0;

    &:first-child {
      border-left: $border-style;
    }
    &:last-child {
      border-right: none;
    }
    &:hover {
      background: #fff;
    }
  }
}
